<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">@nglibrary/utils</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Github</a></li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<div class="container" #foo>
  <div class="col-md-8 col-md-offset-2">
    <form role="form">
      <legend>Login form</legend>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" #a>
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="abc@xyz.com" name="email" [(ngModel)]="email" [controlInfo]="{selector:'.form-group'}"
              required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well" [innerHTML]="tags(a.className)"></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" placeholder="*******" name="password" [(ngModel)]="password" [controlInfo]="{selector:foo}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="well" [innerHTML]="tags(foo.className)"> </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </div>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <form role="form" [formGroup]="reactiveForm">
      <legend>Login form</legend>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" #b>
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="abc@xyz.com" name="email" formControlName="email" [controlInfo]="{selector:'.form-group'}"
              required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well" [innerHTML]="tags(b.className)"></div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </div>
</div>
